// fonts
// @import url("https://fonts.googleapis.com/css?family=Archivo:400,500,500i,600|Poppins:400,500,500i,600,700");

@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  src:
    local("Archivo Regular"),
    local("Archivo-Regular"),
    url("../fonts/archivo-regular-webfont.woff2") format("woff2"),
    url("../fonts/archivo-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 500;
  src:
    local("Archivo Medium"),
    local("Archivo-Medium"),
    url("../fonts/archivo-medium-webfont.woff2") format("woff2"),
    url("../fonts/archivo-medium-webfont.woff") format("woff");

}

@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 600;
  src:
    local("Archivo SemiBold"),
    local("Archivo-SemiBold"),
    url("../fonts/archivo-semibold-webfont.woff2") format("woff2"),
    url("../fonts/archivo-semibold-webfont.woff") format("woff");

}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src:
    local("Poppins Regular"),
    local("Poppins-Regular"),
    url("../fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("../fonts/poppins-regular-webfont.woff") format("woff");

}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src:
    local("Poppins Medium"),
    local("Poppins-Medium"),
    url("../fonts/poppins-medium-webfont.woff2") format("woff2"),
    url("../fonts/poppins-medium-webfont.woff") format("woff");

}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src:
    local("Poppins SemiBold"),
    local("Poppins-SemiBold"),
    url("../fonts/poppins-semibold-webfont.woff2") format("woff2"),
    url("../fonts/poppins-semibold-webfont.woff") format("woff");

}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src:
    local("Poppins Bold"),
    local("Poppins-Bold"),
    url("../fonts/poppins-bold-webfont.woff2") format("woff2"),
    url("../fonts/poppins-bold-webfont.woff") format("woff");

}

@font-face {
  font-family: "KarbidWeb";
  font-weight: 400;
  src: url("../fonts/KarbidWeb.eot");
  src:
    url("../fonts/KarbidWeb.eot?#iefix") format("embedded-opentype"),
    url("../fonts/KarbidWeb.woff") format("woff");
}

@font-face {
  font-family: "KarbidWeb";
  font-weight: 700;
  src: url("../fonts/KarbidWeb-Bold.woff") format("woff");
}

@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=64019034-8dca-442c-bcd6-770fa1c77c0b&fontids=904604");
@font-face{
  font-family: "Calibri W01 Regular_904604";
  src: url("../fonts/d4acc8cd-67f2-4139-80be-d669bb2564d7.eot?#iefix");
  src:
    url("../fonts/d4acc8cd-67f2-4139-80be-d669bb2564d7.eot?#iefix") format("eot"),
    url("../fonts/367341fc-4cc6-4a79-89ad-d6c61561611e.woff2") format("woff2"),
    url("../fonts/1ff86dd4-d3b2-4325-89bc-c6eb493cedba.woff") format("woff"),
    url("../fonts/aa6b4b64-5ce0-48fd-887a-bece037cd9c9.ttf") format("truetype");
}

// overrides
// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// stylelint-disable-next-line value-keyword-case
$font-family-ddb-sans-serif: "Calibri W01 Regular_904604", "Calibri", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// stylelint-disable-next-line value-keyword-case
$font-family-headings: "Archivo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// stylelint-disable-next-line value-keyword-case
$font-family-ddb-headings: "KarbidWeb", "Calibri", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$litfassTextColor: #1d1d1b !default;

$font-size-base: 1rem !default;
$font-size-base-lg: ($font-size-base * 1.125) !default;
$font-weight-medium: 500 !default;
$font-weight-semi-bold: 600 !default;

$line-height-base: 1.555 !default;

$h1-font-size:                $font-size-base * 3.125 !default;
$h2-font-size:                $font-size-base * 2.125 !default;
$h3-font-size:                $font-size-base * 1.875 !default;
$h4-font-size:                $font-size-base * 1.625 !default;
$h5-font-size:                $font-size-base * 1.375 !default;

$paragraph-margin-bottom:   2.5rem !default;

$body-color: $litfassTextColor !default;

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";

// @import "node_modules/bootstrap/scss/tables";
// @import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/transitions";
// @import "node_modules/bootstrap/scss/dropdown";
// @import "node_modules/bootstrap/scss/button-group";
// @import "node_modules/bootstrap/scss/input-group";
// @import "node_modules/bootstrap/scss/custom-forms";
// @import "node_modules/bootstrap/scss/nav";
// @import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/card";
// @import "node_modules/bootstrap/scss/breadcrumb";
// @import "node_modules/bootstrap/scss/pagination";
// @import "node_modules/bootstrap/scss/badge";
// @import "node_modules/bootstrap/scss/jumbotron";
// @import "node_modules/bootstrap/scss/alert";
// @import "node_modules/bootstrap/scss/progress";
// @import "node_modules/bootstrap/scss/media";
// @import "node_modules/bootstrap/scss/list-group";
// @import "node_modules/bootstrap/scss/close";
// @import "node_modules/bootstrap/scss/toasts";
// @import "node_modules/bootstrap/scss/modal";
// @import "node_modules/bootstrap/scss/tooltip";
// @import "node_modules/bootstrap/scss/popover";
// @import "node_modules/bootstrap/scss/carousel";
@import "node_modules/bootstrap/scss/spinners";
@import "node_modules/bootstrap/scss/utilities";
// @import "node_modules/bootstrap/scss/print";

@import "node_modules/simplebar/dist/simplebar";

@import "vendor/x3d/x3d-public";
@import "theme";
