// scroll snap
// body {
//   scroll-snap-points-y: repeat(100vh);
//   scroll-snap-type: mandatory;
//   scroll-snap-type: y mandatory;
//   scroll-snap-type-y: mandatory;
// }
// .app {
//   section {
//     display: block;
//     max-width: 350px;
//     min-height: 100vh;
//     // width: 100vw;
//     border: 1px solid #f30;
//     scroll-snap-align: start;
//   }
// }

// typo
p,
li,
td,
div {
  font-size: $font-size-base-lg;
  @include media-breakpoint-down(sm) {
    font-size: $font-size-base;
    line-height: 1.625;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-headings;
  font-weight: $font-weight-semi-bold;
}

h1 {
  margin-bottom: 60px;
  @include media-breakpoint-down(sm) {
    margin-bottom: 40px;
  }
}

h2 {
  margin-bottom: 55px;
  @include media-breakpoint-down(sm) {
    margin-bottom: 40px;
  }
}

h3 {
  margin-bottom: 50px;
  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
  }
}

h4 {
  margin-bottom: 45px;
  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
  }
}

h5 {
  margin-bottom: 40px;
  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
  }
}


// header
.header {
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  // height: 48px;
  min-height: 40px;
  padding: .5rem 0;
  font-family: $font-family-headings;
  font-size: $font-size-base;
  color: #f2f2f2;
  text-align: center;
  background: #333;
  .icon-expand {
    margin-right: 26px;
  }
  .icon-menu {
    margin-right: 10px;
  }
}

// menu
.menu {
  display: none;
}

// bootstrap
.container-fluid {
  max-width: 1140px;
}


// fullpage
.section-container {
  display: flex;
  // flex-direction:
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  .row {
    height: 100%;
  }
}

.fp-section {
  // position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
// .fp-section.fp-table {
// }
.fp-tableCell {
  display: block;
  width: 100%;
  height: 100%;
}
@include media-breakpoint-down(sm) {
  .fp-section {
    /* stylelint-disable-next-line declaration-no-important */
    height: auto !important;
    min-height: 100vh;
  }
  .fp-tableCell {
    min-height: 100vh;
  }
}
.fp-slide,
.fp-slidesContainer {
  float: left;
}
.fp-slidesContainer {
  position: relative;
  // float: left;
}
.fp-slide {
  display: block;
  height: 100%;
}
.fp-slides {
  position: relative;
  z-index: 1;
  height: 100%;
  overflow: hidden;
  transition: all .3s ease-out;
}
.fp-slide.fp-table {
  display: table;
  width: 100%;
  table-layout: fixed;
}

// scroll-container
.scroll-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  .text-content {
    max-height: 100%;
    overflow: hidden;
    .scroll-frame {
      width: 100%;
      height: 100%;
      overflow: hidden;
      .scroll-element {
        box-sizing: initial !important;
        width: 100%;
        height: 100%;
        // padding: 75px 0;
        padding-right: 17px;
        overflow-y: scroll;
        h1:first-of-type {
          margin-top: 75px;
        }
        p:last-of-type {
          margin-bottom: 75px;
        }
      }
    }
  }
}

// text content scroll
.scroll-controls {
  .scroll-arrow-up {
    margin-bottom: 3px;
    cursor: pointer;
  }
  .scroll-arrow-down {
    margin-top: 3px;
    cursor: pointer;
  }
  .scroll-arrow-up:hover path,
  .scroll-arrow-down:hover path {
    stroke: #fff;
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
.scroll-controls-left {
  padding-right: 17px;
}

// media col
.col-media {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .container-media {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    @include media-breakpoint-down(xs) {
      display: block;
      .control-icon {
        display: inline-block;
      }
      .control-icon-left {
        display: inline-block;
      }
    }
    @include media-breakpoint-down(sm) {
      padding-top: 60px;
    }
    // .content-controls {
    // }
  }
}
.media-item {
  max-width: 100%;
}
.media-item-caption {
  margin-top: .625rem;
  font-size: .75rem;
  font-weight: 500;
}
.media-meta {
  padding: 32px 0 32px 15px;
  overflow: hidden;
  // background-color: #fff;
  background-color: rgba(255, 255, 255, .6);
  .media-meta-scroll {
    box-sizing: initial;
    width: 100%;
    overflow-y: scroll;
    p,
    li,
    td,
    div {
      font-size: $font-size-base;
    }
    h3 {
      margin-bottom: 0;
      font-size: 1.375rem;
    }
    h4 {
      font-size: $font-size-base;
    }
  }
}

// controls & icons
.control-icon {
  padding-right: .5rem;
  margin-bottom: .25rem;
}
.control-icon-left {
  padding-left: .5rem;
  margin-bottom: .25rem;
}
.control-info {
  .icon-info {
    cursor: pointer;
    .icon-info-x {
      display: none;
    }
    .icon-info-x-line {
      fill: none;
      stroke: #000;
      stroke-width: 3px;
    }
    &:hover {
      background-color: #000;
      // background-color: rgba(255, 255, 255, .6);
      .icon-info-i line {
        stroke: #fff;
      }
    }
    &.active,
    &.active:hover {
      // background-color: #fff;
      background-color: transparent;
      .icon-info-frame {
        display: none;
      }
      .icon-info-x {
        display: block;
      }
    }
  }
  &.active {
    // background-color: #fff;
    background-color: rgba(255, 255, 255, .6);
  }
}

.control-zoom {
  .icon-zoom {
    cursor: pointer;
    .icon-zoom-1,
    .icon-zoom-2,
    .icon-zoom-4 {
      fill: none;
    }

    .icon-zoom-1,
    .icon-zoom-2 {
      stroke: #000;
      stroke-width: 3px;
    }

    .icon-zoom-2 {
      stroke-linecap: square;
    }

    .icon-zoom-3 {
      stroke: none;
    }
    &:hover {
      background-color: #000;
      .icon-zoom-1 {
        stroke: #fff;
      }
    }
  }
}

// dark
.dark {
  color: #fff;
  p,
  li,
  td,
  div,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
  }
  .media-meta {
    // color: #000;
    // background-color: #000;
    background-color: rgba(0, 0, 0, .2);
    // p,
    // li,
    // td,
    // div,
    // h1,
    // h2,
    // h3,
    // h4,
    // h5,
    // h6 {
    //   // color: #000;
    // }
  }
  .control-zoom {
    .icon-zoom {
      .icon-zoom-1,
      .icon-zoom-2 {
        stroke: #fff;
        stroke-width: 3px;
      }
      &:hover {
        background-color: #fff;
        .icon-zoom-1 {
          stroke: #000;
        }
      }
    }
  }
  .control-info {
    .icon-info {
      .icon-info-x-line {
        fill: none;
        stroke: #fff;
        stroke-width: 3px;
      }
      &:hover {
        background-color: #fff;
        .icon-info-i line {
          stroke: #000;
        }
      }
      &.active,
      &.active:hover {
        // background-color: #000;
        background-color: transparent;
        .icon-info-frame {
          display: none;
        }
        .icon-info-x {
          display: block;
        }
      }
    }
    &.active {
      // background-color: #000;
      background-color: rgba(0, 0, 0, .2);
    }
  }
}
